DirectoryIndex index.php

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Se o sistema estiver publicado em uma subpasta, ajuste a RewriteBase.
    # Exemplo: RewriteBase /aptrimonio/
    # RewriteBase /

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php?url=$0 [QSA,L]
</IfModule>
